/*  Fonts */

$base-font: 'Poppins', sans-serif;
$base-font-size: 1.6rem;

$black: #201f21;
$dark-grey: #656366;
$light-grey: #c7ccce;
$white: #ffffff;
$success: #1e8341;
$error: #ce031b;
$information: #1c7d9c;
$warning: #c55300;
$primary: #1c3d93;
$variant: #e3e2ff;

// $breakpoints: (
//     mobile: 767.5px,
//     tablet: 1023.5px,
//     laptop: 1380.5px,
//     desktop: 1920.5px,
//     large-desktop: 99999px,
// );
