@import 'assets/css/variables';

.header {
    width: 100%;
    height: 6.4rem;
    border: 2px solid $black;
    padding: 1.4rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pathName {
        font-weight: 700;
        font-size: 2.4rem;
        color: $black;
    }
}
